<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
   <form action="/madlib">
    Enter a name: <input type="text" name="person"><br>
    Pick one of the colors':<input type="radio" name="color" value="pink">Pink
    <input type="radio" name="color" value="yellow">Yellow
    <input type="radio" name="color" value="green">Green
    <input type="radio" name="color" value="white">White<br>
    <label for="select_adjective">Select an adjective of your choice</label>
    <select name="adjective_is" id="select_adjective">
        <option value="beautiful">Beautiful</option>
        <option value="wonderful">Wonderful</option>
        <option value="pretty">Pretty</option>
        <option value="amazing">Amazing</option>
    </select><br>
    Add a noun here: <input type="text" name="noun"><br>
    <input type="submit">
   </form>
</body>
</html>

